<h1 class="index-title">Bathrooms:</h1>
<br>

<div class="bathroom-wrapper">
  <% @bathrooms.each do |bathroom| %>
  <%= link_to bathroom_path(bathroom), class: 'test', :action => 'go' do %>  
    <div class="bathroom-card col-6 col-lg-12">
      <div class="bathroom-photo">
      </div>
      <div class="bathroom-details">
        <div class="bathroom-description">
          <p class="bath-desc">
            <%= bathroom.description %>
          </p>
          <p class="line-div">________________________________________________</p>
          <br>
        </div>
        <div class="bathroom-address">
          <p>Address:</p>
          <%= bathroom.address %>
        </div>
        <br>
        <br>
        <div class="bathroom-price d-flex justify-content-end">
          <div class="price">
            <p>Price:</p>
            <p><%= "U" + number_to_currency(bathroom.price.to_f) %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>
</div>
