.index-title {
  margin-left: 45px;
  padding-top: 20px;
}

.bathroom-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.bathroom-card {
  display: flex;
  height: 290px;
  width: 720px;
  margin-left: 30px;
  position: relative;
  color: black;
  transition: 0.45s;
}

.bathroom-card:hover {
  text-decoration: none;
  filter: brightness(85%);
  transition: 0.45s;
}

.test:hover {
  text-decoration: none;
}

.bath-desc {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0px;
}

.line-div {
  color: rgba(0, 0, 0, 0.356);
  font-size: 4px;
}

.bathroom-photo {
  background-image: asset-url('bathroom.jpg');
  background-size: cover;
  height: 240px;
  width: 270px;
  margin-top: 25px;
  margin-left: 20px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.bathroom-cr-photo

.bathroom-price {
  position: absolute;
  right: 5%;
  bottom: 12%;
}

.price {
  display: flex;
  flex-direction: column;
}

.bathroom-details {
  display: flex;
  height: 240px;
  width: 410px;
  margin-left: 5px;
  margin-top: 25px;
  background-color: white;
  padding: 10px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  p {
    margin-bottom: 0px;
  }
}

.bathroom-profile {
  width: 350px;
  height: 500px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-left: 200px;
}

.show-title {
  margin-left: 200px;
  margin-top: 50px;
}

.show-wrapper {
  display: flex;
  position: relative;
  margin-top: 40px;
}

.show-description {
  position: absolute;
  left: 55%;
  top: 7%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px 50px;
  border-radius: 15px;
  width: 500px;
}

.show-address {
  position: absolute;
  left: 55%;
  top: 34%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px 50px;
  border-radius: 15px;
  width: 500px;
}

.show-price {
  position: absolute;
  left: 55%;
  top: 61%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px 50px;
  border-radius: 15px;
  width: 500px;
}

.show-owner {
  position: absolute;
  left: 65%;
  top: 90%;
}

.bath-form {
  text-align: center;
}

.btn-book-this {
  position: absolute;
  top: 16%;
  right: 12%;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #17c3b248;
  transition: 0.6s;
}

.btn-book-this:hover {
  background-color: #17c3b2b2;
  transition: 0.6s;
}