.booking-card {
    display: flex;
    width: 90vw;
    align-items: space-between;
    margin: 0 auto;
    margin-bottom: 3vh;
}

.booking-image {
    width: 30vw;
    display: cover;
    background-color: red;
    border-radius: 10px;
}

.booking-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 30px 25px 50px;
}
.bookings-title {
    margin-left: 20vw;
}





// booking- new css

.new-booking-form {
  width: 85vw;
  margin: 0 auto;
}

.new-booking-form .form-group {
  padding-bottom: 10vh;
  
}


.new-booking-form .form-control{
    height: 7vh;
}

.new-booking-form label {
  width: 20vw;
  padding-left: 5vw;
  padding-bottom: 1vh;
}

#new-booking-submit-button {
  background-color: yellowgreen;
  margin-top: 5vh;
  height: 7vh;
}