.booking-card {
    display: flex;
    width: 90vw;
    align-items: space-between;
    margin: 0 auto;
    margin-bottom: 3vh;
}

.booking-details {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    padding-right: 15vw;
    padding-left: 15vw;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.booking-image {
    width: 30vw;
    background-size: cover;
    border-radius: 10px;
    background-image: asset-url('bathroom.jpg');
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.booking-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 30px 25px 50px;
}
.bookings-title {
    margin-left: 20vw;
}

.booking-card .btn {
    width: 5vw;
}

.booking-card .btn:hover {
    text-decoration: none;
   a {
       color: black;
       text-decoration: none;
   }
}

// booking- new css

.new-booking-form {
  width: 85vw;
  margin: 0 auto;
}

.new-booking-form .form-group {
  padding-top: 10vh;
}

.new-booking-form .form-control{
    height: 7vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.new-booking-form label {
  width: 20vw;
  padding-left: 5vw;
  padding-bottom: 1vh;
}

#new-booking-submit-button {
  background-color: #17C3B2;
  margin-top: 15vh;
  height: 7vh;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
