<footer class="mainfooter">
  <div class="d-flex footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <ul class="social-network">
            <li><h6>Follow Us</h6></li>
            <li><%= link_to "facebook.com" do %>
              <i class='fab fa-facebook-f icoFacebook'></i>
            <% end %></li>
            <li><%= link_to "instagram.com" do %>
              <i class='fab fa-instagram icoInstagram'></i>
            <% end %></li>
          </ul>       
        </div>
        <div class="col-md-4 col-sm-12">
          <p class="text-center">&copy; airwnc</p>
        </div>
      </div>
    </div>
  </div>
</footer>
