<div class="banner d-flex align-items-stretch">
  <div class="banner-content">
    <h1>airwnc</h1>
    <p>banheiros na palma da sua mão</p>
    <span><%= link_to "encontre um banheiro", bathrooms_path, class: "link-home" %></span>
  </div>
</div>