footer {
  background:#F2EDEB;
  color: #1D3557;
  text-align: center;
}

.footer-box {
  display: flex;
}

/* footer social icons */
.social-network {
  list-style: none;
  margin-left: 0 !important;
}

.social-network li {
  display: inline;
  margin: 0 5px;
}

.social-network a {
  background-color: #1D3557;
  color: white;
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 15px;
  line-height: 30px;
}

.social-network i:hover,
.triggeredHover {
  transform: rotate(360deg);
  transition: 1s;
}